bower_components/
node_modules/
.pulp-cache/
output/
.vite/
output-es/
generated-docs/
.psc-package/
.psc*
.purs*
.psa*
.spago
.direnv
/script/
/script/*
/.vscode/
/backend/dist-newstyle
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
.nix-shell
.postgres
.preview
*.code-workspace